ei-prop {
    display: list-item;
    font: inherit;
    margin-left: -2.5em;
    padding-left: 2.5em;
}

ei-prop:before {
    content:"\25BA\0020";
    color: transparent;
}

ei-prop.collapsible:before {
    content:"\25BC\0020";
    color: #FF7373;
}
ei-prop.collapsible.collapsed:before {
    content:"\25BA\0020";
    color: #FF7373;
}
