ei-prop {
    display: list-item;
    list-style-position: inside;
    font: inherit;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

ei-prop::before {
    content: '\25BA';
    color: transparent;
    font-size: 21px;
    line-height: 20px;
    display: inline-block;
    vertical-align: bottom;
    width: 7px;
}

ei-prop.collapsible::before {
    content: '\25BE';
    color: #ff7373;
}

ei-prop.collapsible.collapsed::before {
    content: '\25b8';
    color: #ff7373;
}
