ei-proplist {
    display: block;
    font: inherit;
    list-style: none;
    padding-left: 16px;
    overflow: hidden;
}

ei-proplist.au-enter {
    max-height: 0;
}

ei-proplist.au-enter-active {
    -webkit-animation: slideIn .2s;
    animation: slideIn .2s;
}

ei-proplist.au-leave-active {
    -webkit-animation: slideOut .13s;
    animation: slideOut .13s;
}

/* CSS3-Animations */
@-webkit-keyframes slideIn {
    0%   { max-height: 0; }
    75%  { max-height: 500px; }
    100% { max-height: 1000px; }
}

@keyframes slideIn {
    0%   { max-height: 0; }
    75%  { max-height: 500px; }
    100% { max-height: 1000px; }
}

@keyframes slideOut {
    0%   { max-height: 1000px; }
    25%  { max-height: 500px; }
    100% { max-height: 0; }
}
