ei-propname {
    display: inline;
}

ei-container.dark ei-propname {
    color: #9cdcfe;
}

ei-container.light ei-propname {
    color: #001080;
}

ei-container.dark ei-propname.id-prop {
    color: #9ab7c6;
    font-style: italic;
}

ei-container.light ei-propname.id-prop {
    color: #F00;
    font-style: italic;
}
